#
# The server creates one single object adapter with the name
# "SessionFactory". The following line sets the endpoints for this
# adapter.
#
#Authentication.Endpoints=default -h localhost -p 10002
#DirectoryService.Endpoints=default -h localhost -p 10001
remotetypes.Proxy=factory:default -p 10000 # -h localhost
#
# Warn about connection exceptions
#
Ice.Warn.Connections=1

